<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <form id="form-todo" ng-submit="vm.addTodo()">
            <input type="text" id="new-todo" placeholder="What needs to be done?" ng-model="vm.newTodo"/>
        </form>
    </header>

    <section id="main">
        <ul id="todo-list">
            <li ng-repeat="todo in vm.todos" ng-class="{completed: todo.isCompleted}">
                <input type="checkbox" class="toggle"/>
                <label>{{todo.title}}</label>
                <button class="destroy"></button>
            </li>
        </ul>

        <input type="checkbox" id="toggle-all"/>
    </section>

    <footer id="footer">
        <span id="todo-count">
          <strong>{{vm.remainingCount}}</strong> todos left
        </span>
        <ul id="filters">
            <li>
                <a href="all" class="selected">All</a>
            </li>
            <li>
                <a href="active">Active</a>
            </li>
            <li>
                <a href="completed">Completed</a>
            </li>
        </ul>

        <button id="clear-completed">
            Clear completed (1)
        </button>
    </footer>
</section>